@page "/"
@using SimpleBlogBlazor.Shared.Models
@inject HttpClient Http

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="index-container">
        <div class="ui active centered inline loader"></div>

    </div>
    @*@foreach (var post in posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.Content</td>
                <td>@post.CreatedOn</td>
                <a href="/details/@post.PostId">Details</a>
            </tr>
        }*@
}
